body {
  margin: 0;
  line-height: inherit;
}

#container {
  background-color: #2F63BD;
  opacity: 100%;
  min-width: 550px;
  min-height: 550px;
  border-radius: 10px;

}

#menu {
  opacity: 100%;
  border-radius: 10px;
  
}

#contact {
  opacity: 100%;
}

  .topnav{
    text-align: center;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 768px) {
  aside {
    width: 100%;
    margin-right: 0;
  }

}

