body {
  margin: 0;
  line-height: inherit;
}


#container {
  background-color: #2F63BD;
  opacity: 90%;
  min-width: 550px;
  min-height: 550px;

}

#menu {
  opacity: 90%;
}

#menbutton {
  opacity: 95%;
}

#contact {
  opacity: 95%;
}

#conbutton {
  opacity: 90%;
}

.topnav {
  background-color: black;
}

#navcenter {
  display: flex;
  justify-content: center;
  /* opacity: 90%; */
}

#menText {
  font-size: 45px;
}

/* @media query*/

@media only screen and (max-width: 768px) {
  aside {
    width: 100%;
    margin-right: 0;
  }
}